version: "3.8"

services:
  mongo:
    image: mongo:5.0
    container_name: mymongo
    ports:
      - "27017:27017"
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 3
  redis:
    image: redis:7.4-alpine
    container_name: myredis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 3
    volumes:
      - redis-data:/data

  api:
    build: ./analytics-api
    container_name: app
    ports:
      - "8000:8000"
    environment:
      PYTHONUNBUFFERED: 1
      MONGO_URI: mongodb://mongo:27017/
      MONGO_DB: mymongo
      MONGO_COLLECTION: warning
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy

  consumer:
    build: ./consumer
    container_name: consumer
    environment:
      PYTHONUNBUFFERED: 1
      MONGO_URI: mongodb://mongo:27017/
      MONGO_DB: mymongo
      MONGO_COLLECTION: warning

    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy

  producer:
    build: ./producer
    container_name: producer
    volumes:
      - ./data:/app/data
    environment:
      REDIS_HOST: redis
      DATA_FILE_PATH: /app/data/border_alerts.json
    depends_on:
      redis:
        condition: service_healthy

volumes:
  redis-data:
    driver: local


